:root {
  --pacifico: "Pacifico", cursive;
  --archivo: "Archivo Black", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
  --Emerald: #16c79e;
  --black: #000000;
  --white: #ffffff;
  --gray99: #999999;
  --yellow: #f0ff35;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box1 {
  color: var(--white);
  font-family: var(--Montserrat);
  font-size: 15px;
  font-weight: 900;
  line-height: 1;
  width: 15%;
  height: 52.5vw;
  margin: 0;
  padding: 1vw;
  background: var(--Emerald);
}

.box2 {
  width: 30vw;
  background-color: rgb(236, 236, 236);
  height: 37vw;
  margin: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.line {
  border: 1px solid rgb(236, 236, 236);
  width: 62%;
  height: 0px;
  position: absolute;
  right: 0;
  top: 12.5vw;
}

.ico_hi {
  position: absolute;
  right: 1.5vw;
  top: 1vw;
}

.gohome {
  position: absolute;
  right: 1.5vw;
  top: 4.5vw;
}

.circle {
  position: absolute;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  background: var(--white);
  opacity: 0.8;
  left: 22vw;
  margin: 10vw;
}

.hi_box {
  position: absolute;
  left: 45%;
  top: 30%;
  width: 40%;
  height: 40%;
  /* border: 1px solid red; */
}

.hi_title {
  font-family: var(--Montserrat);
  font-size: 60px;
  color: #398f7b;
  line-height: 0.9;
}

.hi_depth {
  margin-top: 50px;
}
