:root {
  --pacifico: "Pacifico", cursive;
  --archivo: "Archivo Black", sans-serif;
  --Emerald: #16c79e;
  --black: #000000;
  --white: #ffffff;
  --gray99: #999999;
  --yellow: #f0ff35;
  --Montserrat: "Montserrat", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1vw 2vw;
}

nav {
  display: flex;
}

.nav_ico {
  align-items: center;
  display: flex;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--Montserrat);
  font-weight: 200;
  font-size: 40px;

  background: linear-gradient(
    to right,
    var(--white),
    var(--yellow),
    var(--yellow),
    var(--Emerald),
    var(--Emerald),
    var(--Emerald),
    var(--black)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > a {
    &:hover {
      color: var(--Emerald);
    }
    margin-left: 30px;
    width: 40px;
    height: 40px;
  }
}

.main_video {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding-top: 5vw;
  opacity: 0.8;
}

.ico_down {
  width: 40px;
  margin: 0 auto;
  display: block;
  margin-top: 5vw;
}

/* main */

.home_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10vw;
}

.content {
  margin: 0 auto;
  width: 24vw;
  height: 24vw;
  border: 1px solid var(--Emerald);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.home_footer {
  width: 100%;
  height: 15vw;
  margin-top: 9vw;
  text-align: center;
  color: var(--black);

  > lord-icon {
    margin: 0 auto;
  }
}

.powered {
  font-family: var(--Montserrat);
  font-weight: 200;
  margin-top: 30px;
}
