:root {
  --pacifico: "Pacifico", cursive;
  --Emerald: #16c79e;
  --black: #000000;
  --white: #ffffff;
  --gray99: #999999;
  --yellow: #f0ff35;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0 2vw;
}

nav {
  display: flex;
}

.nav_ico {
  align-items: center;
  display: flex;
  gap: 30px;
}

/* .nav_ico_text {
  font-size: 8px;
  text-align: center;
} */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--pacifico);
  font-size: 50px;

  background: linear-gradient(
    to right,
    var(--white),
    var(--yellow),
    var(--yellow),
    var(--Emerald),
    var(--Emerald),
    var(--Emerald),
    var(--black)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > a {
    &:hover {
      color: var(--Emerald);
    }
    margin-left: 30px;
    width: 30px;
    height: 30px;
  }
}

video {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding-top: 4vw;
  opacity: 0.8;
}

.ico_down {
  width: 40px;
  margin: 0 auto;
  display: block;
  margin-top: 5vw;
}

/* main */

.home_main {
  padding: 8vw 4vw 4vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15vw;
}

.content {
  margin: 0 auto;
  width: 45vw;
  height: 45vw;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.home_footer {
  width: 100%;
  height: 15vw;
  margin-top: 5vw;
  text-align: center;
  color: var(--gray99);

  > lord-icon {
    margin: 0 auto;
  }
}

.powered {
  margin-top: 30px;
}
